
<script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>
<script type="text/javascript" src="js/markers.js"></script>
<body><div id="map"></div>
<form action="http://maps.google.com/maps" method="get" target="_blank">
	<br />
Get directions to our Florida office:<br />
<input type="text" name="saddr" />
<input type="hidden" name="daddr" value="290 & Oak Park Place, Casselberry FL" />
<input type="submit" value="get directions" />
</form>
<br />

<form action="http://maps.google.com/maps" method="get" target="_blank">
Get directions to our Kentucky office:<br />
<input type="text" name="saddr" />
<input type="hidden" name="daddr" value="209 & Settlers Trace, Richmond KY" />
<input type="submit" value="get directions" />
</form>
<br />

<form action="http://maps.google.com/maps" method="get" target="_blank">
Get directions to our South Carolina office:<br /> 
<input type="text" name="saddr" />
<input type="hidden" name="daddr" value="576 & Greenway Drive, Fort Mill SC " />
<input type="submit" value="get directions" />
</form>

</body>
</html>
