<h3>About Us</h3>
   <p>We have been in business since 1998.  We sell Beanie Babies.  We beat all competitor prices.</p>
    <h3>Phone Number</h3>

    <p>(407) 555-5555</p>
    <br />
    <p>Please <%= link_to "Contact Us", contact_path %> if you have any questions or concerns.</p> 
    <%= render 'map' %> 