<div class="sale">
	<h2>Antsy</h2>
	<h3>On sale $.99</h3>
	<div id="hidden">Hurry up they are 
		<br /> disappearing as fast as 
		<br /> you can mouseover them.</div>
		
	<div class="outer">
		<img  class="hidden" src="images/antsy.jpg" alt="antsy" /> 
	</div>
</div>