#feed{
	text-align: center;
	margin-bottom: 20px;
}

.date{
	margin-top: 20px;
	margin-bottom: 20px;
	color: #5E7F8C;
	font-weight: bold;
	font-size: 16px;
}				

#masthead{
	margin: 0;
	padding: 10px 0px;
	border-bottom: 1px solid #cccccc;
	width: 100%;
}

#content{
	float:right;
	width: 50%;
	margin: 0;
	padding: 0 3% 0 0;
	border: medium dotted #0066CC;
}

.story{
	clear: both;
	padding: 10px 0px 0px 10px;
	font-size: 80%;
}

.story p{
	padding: 0px 0px 10px 0px;
}

.feedResults{
	margin: 0px;
	padding: 0px 0px 10px 10px;
	font-size: 90%;
}

a{
	margin-top: 20px;
}


